<div class="bg-grey-lighter">
  <div class="container px-8 md:pr-8 lg:pl-16">
    <div class="pt-12 pb-16">
      <div class="max-w-lg">
        <h1 class="text-5xl text-grey-darker font-extrabold leading-tight">Program Behaviors</h1>
      </div>
    </div>
  </div>
</div>

<div class="container px-8 lg:pr-12 lg:pl-16 mb-8">
  <div class="pt-12 pb-16">
    <div class="flex flex-col-reverse md:flex-row items-center justify-between mb-8 md:-mx-2">
      <p class="text-lg mb-4 sm:mb-0 <%= "invisible" if @behaviors.any? %>" aria-hidden="<%= @behaviors.any? %>">No behaviors created yet.</p>
      <%= link_to 'Create a Behavior', new_admin_curriculum_behavior_path, class: "w-full md:w-auto mb-4 md:mb-0 md:mx-2 btn btn--primary rounded" %>
    </div>

    <% if @behaviors.any? %>
      <table class="w-full striped-table text-left">
        <thead>
          <tr>
            <th class="p-2 md:p-4 w-24">Enabled?</th>
            <th class="p-2 md:p-4 w-24 md:w-32 text-center">Image</th>
            <th class="p-2 md:p-4">Details</th>
            <th class="p-2 md:p-4 w-24">Price</th>
            <th class="p-2 md:p-4 w-96"></th>
          </tr>
        </thead>

        <tbody>
          <% @behaviors.each do |behavior| %>
          <tr>
            <td class="p-2 md:p-4 text-center font-bold">
              <%= raw behavior.enabled? ? '<span class="text-green">Y</span>' : '<span class="text-red">N</span>' %>
            </td>
            <td class="p-2 md:p-4">
              <%= image_tag present(behavior).thumbnail_url, alt: "preview image for #{behavior.title}", class: "block w-16 md:w-32" %>
            </td>
            <td class="p-2 md:p-4 align-top">
              <p class="mb-2"><%= behavior.title %></p>
              <p class="mb-2 text-sm hidden md:block"><%= behavior.description %></p>
            </td>
            <td class="p-2 md:p-4 text-left">
              <%= "$#{behavior.price}" %>
            </td>
            <td class="p-2 md:p-4">
              <div class="flex flex-col lg:flex-row justify-end -mx-1">
                <%= link_to 'Edit', edit_admin_curriculum_behavior_path(behavior), class: "mx-1 mb-1 lg:mb-0 btn btn--sm btn--primary rounded" %>
                <%= link_to 'Delete', [:admin, behavior], method: :delete, data: { confirm: 'Delete this behavior?' }, class: "mx-1 mb-1 lg:mb-0 btn btn--sm btn--warn rounded" %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
