<div class="flex-1 md:max-w-1/2 md:mx-4">
  <div class="mb-8 md:mb-0">
    <h3 class="mb-4 text-2xl text-brown">Default Payment Method</h3>
    <% present(current_user) do |user| %>
      <%= content_tag(:p, "No saved payment methods.", class: "mb-4") if user.payment_methods.none? %>
      <% user.payment_methods.each do |payment_method| %>
        <div class="flex -mx-1 mb-4">
          <div class="mx-1 my-px">
            <i class="<%= card_icon(payment_method.card.brand) %> text-grey-darker text-3xl"></i>
          </div>
          <div class="mx-1">
            <p class="text-grey-darkest leading-tight"><%= card_type(payment_method.card.brand) %> (ending in <%= payment_method.card.last4 %>)</p>
            <p class="flex -mx-1 text-sm">
              <span class="mx-1 <%= user.payment_method_expired?(payment_method.card.exp_month, payment_method.card.exp_year) ? "text-red-dark" : "text-grey-dark " %>">
                Expires
                <%= "#{Date::MONTHNAMES[payment_method.card.exp_month]}, #{payment_method.card.exp_year}" %>
              </span>
              <%= link_to 'Remove', current_user, remote: true, method: :patch, data: { params: "[user][remove_payment_method]=#{payment_method.id}", type: "json", confirm: 'Delete this payment method?' }, class: "mx-1 text-blue-dark" %>
            </p>
          </div>
        </div>
      <% end %>

      <div class="flex flex-col md:flex-row md:-mx-2">
        <%= button_tag "Add New", type: "button", class: "w-full md:w-auto mb-4 md:mb-0 md:mx-2 btn btn--lg btn--primary-gradient leading-tight", data: { "micromodal-trigger" => "payment-method-modal" }, disabled: user.payment_methods.any? %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/modal", modal_id: "payment-method-modal", aria_label: "Dialog for updating payment method. Escape will close the window.", data: { user: current_user.slug, api_key: Rails.application.credentials[Rails.env.to_sym].dig(:stripe, :public_key) } do %>
  <header class="flex items-center justify-between mb-4">
    <p class="mr-8 text-lg md:text-xl font-bold text-grey-darkest">Add New Payment Method</p>
    <button class="micromodal__close p-2" aria-label="Close modal" data-micromodal-close></button>
  </header>
  <main class="mb-4 text-grey-darkest">
    <form id="update-payment-method">
      <label for="card-element" class="sr-only">Card Details</label>
      <div id="card-element"></div>
    </form>
  </main>
  <footer>
    <div class="flex flex-col md:flex-row items-center md:-mx-2">
      <%= submit_tag "Save", form: "update-payment-method", class: "w-full lg:w-auto mb-4 md:mb-0 md:mx-2 btn btn--lg btn--primary-gradient" %>
      <%= link_to "Cancel", "javascript:;", class: "md:mx-2 text-grey-darker text-sm", data: { "micromodal-close" => true } %>
    </div>
  </footer>
<% end %>

<% content_for :additional_javascript do %>
  <%= javascript_packs_with_chunks_tag 'v1/payments' %>
<% end %>
