<div class="bg-grey-lighter">
  <div class="container px-8 md:pr-8 lg:pl-16">
    <div class="pt-12 pb-16">
      <div class="max-w-lg">
        <h1 class="text-5xl text-grey-darker font-extrabold leading-tight">Bundles</h1>
      </div>
    </div>
  </div>
</div>

<div class="container px-8 lg:pr-12 lg:pl-16">
  <div class="pt-12 pb-16">
    <div class="flex flex-col sm:flex-row items-center justify-between mb-8">
      <p class="text-lg mb-4 sm:mb-0 <%= "invisible" if @bundles.any? %>" aria-hidden="<%= @bundles.any? %>">No bundles created yet.</p>
      <%= link_to 'Create a Bundle', new_admin_curriculum_bundle_path, class: "btn btn--primary rounded" %>
    </div>

    <% if @bundles.any? %>
      <table class="w-full striped-table">
        <thead>
          <tr>
            <th class="w-2/3 text-left">Bundle</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @bundles.each do |curriculum_bundle| %>
          <tr>
            <td class="p-2 md:p-4 align-top">
              <p class="mb-2"><%= curriculum_bundle.name %></p>
              <p class="mb-2 text-sm hidden md:block"><%= curriculum_bundle.description %></p>
              <%= link_to 'Manage Content', "#", class: "btn btn--sm btn--primary rounded" %>
            </td>
            <td class="p-2 md:p-4">
              <div class="flex flex-col lg:flex-row justify-end -mx-1">
                <%= link_to 'Edit', edit_admin_curriculum_bundle_path(curriculum_bundle), class: "mx-1 mb-1 lg:mb-0 btn btn--sm btn--primary rounded" %>
                <%= link_to 'Delete', [:admin, curriculum_bundle], method: :delete, data: { confirm: 'Delete this module?' }, class: "mx-1 mb-1 lg:mb-0 btn btn--sm btn--warn rounded" %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
