<% title 'Log In' %>


<div class="h-full z-10 relative">

  <header class="relative pin-l z-50 w-full" id="v2-header" style="position: fixed; z-index: 999; transition: all 0.1s linear 0s; top: 0px;">
    <div class="bg-white-faint w-full flex justify-center border-b border-gray-light">
      <div class="w-full full-screen-container my-3 lg:my-6 flex items-center">
        <a href="/">
          <img src="/packs/media/reskin-images/logo--cra-reversed-89921be8.svg" alt="Admired Leadership Logo" class="-mb-2" style="max-height: 38px;">
        </a>
      </div>
    </div>
  </header>

  <div class="flex flex-col justify-center items-center w-full h-full" style="color: #3C3C3C">
    <div id="login" class="p-6 md:p-16 bg-white" style="border-radius: 32px; box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px; width: 100%; max-width: 430px; margin-top: 160px;">
      <h3 class="mb-8" style="font-size: 20px; font-weight: 600;">Welcome back</h3>

      <%= render partial: "devise/shared/omniauth_buttons" %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="flex flex-col mb-4" style="gap: 8px;">
          <%= f.label :email, class: "text-sm text-charcoal font-bold" %>
          <div class="active-text flex items-center border-2 relative" style="border-radius: 12px; min-width: 100%;">
            <span id="email-check" class="absolute hidden" style="right: 8px; top: 7px;">
              <%= inline_svg('reskin-images/icon--email-valid-check.svg') %>
            </span>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "px-2 py-2 rounded-full focus:outline-none w-full", id: "email_field", style: 'border-radius: 12px' %>
          </div>
        </div>

        <div class="flex flex-col" style="gap: 8px;">
          <%= f.label :password, class: "text-sm text-charcoal font-bold" %>
          <div class="active-text flex items-center border-2 relative" style="border-radius: 12px; min-width: 100%;">
            <span class="absolute" style="right: 10px; top: 9px;">
              <%= inline_svg('reskin-images/icon--security-eye.svg', id: 'toggle-password') %>
            </span>
            <%= f.password_field :password, autocomplete: "current-password", class: "px-2 py-2 bg-white focus:outline-none w-full", id: "password_field", style: 'border-radius: 12px' %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mt-4 mb-8 user-profile-form__checkbox">
            <%= f.label :remember_me, class: "relative custom-checkbox-container ml-1 text-sm font-bold" do %>
              <span style="position: relative; top: 3px;">Remember Me</span>
              <%= f.check_box :remember_me, class: "custom-checkbox-container" %>
              <span class="custom-checkbox"></span>
            <% end %>
          </div>
        <% end %>

        <% if flash.alert %>
          <div class="mb-2" style="display: flex; gap: 10px;">
            <div style="width: 24px; height: 24px;">
              <%= inline_svg('reskin-images/icon--danger.svg') %>
            </div>
            <div><%= flash.alert %></div>
          </div>
        <% end %>

        <div id="alert-message-container" class="mb-2" style="display: none; gap: 10px;">
          <div style="width: 24px; height: 24px;">
            <%= inline_svg('reskin-images/icon--danger.svg') %>
          </div>
          <div id="alert-message"></div>
        </div>

        <div class="inline-flex justify-center itmes-center mt-4 bg-link-purple border-link-purple hover:border-purple-500" style="width: 139px; height: 44px; border-radius: 16px;">
          <%= f.button "Log in", type: "submit", class: "w-full h-full text-white font-bold", id: "login-btn" %>
        </div>
      <% end %>
    </div>

    <div id="login-msg" class="hidden">
      <h2 class="mb-4 text-brown font-bold">Check Your Email</h2>
      <p class="mb-4 text-grey-darkest">A one-time login link has been sent to your email address. It may take a few minutes to arrive.</p>
      <p class="mb-4 text-grey-darkest">If you would like to set an account password, use the reset link below.</p>
    </div>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <p class="mt-12 mb-2 text-sm text-center">
        <%= link_to "Need to set or reset your password?", new_password_path(resource_name), class: "text-link-purple" %>
      </p>
    <% end %>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <p class="mb-2 text-sm text-center">
        <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "text-link-purple" %><br />
      </p>
    <% end %>
  </div>
</div>

<div class="h-full w-full absolute pin-t pin-l z-0" style="opacity: 0.05; background: linear-gradient(180deg, rgba(60, 60, 60, 0.00) 0%, #3C3C3C 100%);"></div>

<% content_for :additional_javascript do %>
  <%= javascript_packs_with_chunks_tag 'v1/login' %>
<% end %>
