<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no<%= yield :viewport %>" name="viewport">
    <meta name="apple-mobile-web-app-title" content="Admired Leadership">
    <meta name="application-name" content="Admired Leadership">
    <%= display_meta_tags reverse: true, separator: "|", site: "Admired Leadership" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "shared/favicons" %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= yield :additional_stylesheets %>
    <%= yield :data_layer %>
    <% if user_signed_in? && Rails.configuration.features.dig(:hubspot) %>
      <script>
        var _hsq = window._hsq = window._hsq || [];
        _hsq.push(["identify",{
          email: '<%= current_user.email %>'
        }]);
      </script>
    <% end %>
    <%= render "shared/analytics" %>
  </head>

  <body class="font-sans leading-normal bg-white antialiased">


    <%= yield %>


    <div class="modal-container"></div>

    <%= javascript_include_tag "https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver%2CCustomEvent%2CElement.prototype.closest" %>
    <%= javascript_packs_with_chunks_tag "v1/application" %>
    <%= javascript_include_tag "https://kit.fontawesome.com/87cfae3d7e.js", crossorigin: "anonymous" %>

    <%= yield :additional_javascript %>

<%# <script>
  window.markerConfig = {
    project: '640b9004019eaa3254097ea5',
    source: 'snippet'
  };
</script>

<script>
!function(e,r,a){if(!e.__Marker){e.__Marker={};var t=[],n={__cs:t};["show","hide","isVisible","capture","cancelCapture","unload","reload","isExtensionInstalled","setReporter","setCustomData","on","off"].forEach(function(e){n[e]=function(){var r=Array.prototype.slice.call(arguments);r.unshift(e),t.push(r)}}),e.Marker=n;var s=r.createElement("script");s.async=1,s.src="https://edge.marker.io/latest/shim.js";var i=r.getElementsByTagName("script")[0];i.parentNode.insertBefore(s,i)}}(window,document);
</script> %>

<%# <script>
  window.markerConfig = {
    project: '6414de6d91e29bea9a7520bf', 
    source: 'snippet'
  };
</script> %>

<script>
!function(e,r,a){if(!e.__Marker){e.__Marker={};var t=[],n={__cs:t};["show","hide","isVisible","capture","cancelCapture","unload","reload","isExtensionInstalled","setReporter","setCustomData","on","off"].forEach(function(e){n[e]=function(){var r=Array.prototype.slice.call(arguments);r.unshift(e),t.push(r)}}),e.Marker=n;var s=r.createElement("script");s.async=1,s.src="https://edge.marker.io/latest/shim.js";var i=r.getElementsByTagName("script")[0];i.parentNode.insertBefore(s,i)}}(window,document);
</script>



  </body>

</html>